.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: lightgray;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: white;
}

.order-table {
  border: 1px;
}
.order-table th td {
  padding: 5px 50px 5px 50px;
}
